{% extends 'base.html.twig' %}

{% block body %}
    <h1>Détail du livre</h1>
    <article>
        <h2>
            {{ book.title }}
        </h2>
        <p>
            Ecrit par {{ book.author }}
        </p>
        <p>ISBN : {{ book.isbn }}</p>
    </article>
    <a href="{{ path('book_listing') }}" class="btn btn-secondary">Retour</a>
{% endblock %}