{% extends 'base.html.twig' %}

{% block body %}
    {% for book in books %}
        <article>
            <h2>
                <a href="{{ path('book_detail', {id: book.id}) }}">
                    {{ book.title }}
                </a>
            </h2>
            <p>
                Ecrit par {{ book.author }}
            </p>
            <p>ISBN : {{ book.isbn }}</p>
        </article>
    {% endfor %}
{% endblock body %}